.father {
    margin: 0 auto;
    width: 80%;
    background: darkslategrey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    gap: 10px;
}

.logo {
    width: 25%;
    height: 200px;
    background: greenyellow;
}
.search {
    width: 75%;
    height: 200px;
    background: greenyellow;
}

.main{
    border: 2px solid black;
    display: flex;
    gap: 10px;
}

.nav_new{
    display:none;
}
.group_nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
}

.nav {
    height: 300px;
    background: greenyellow;
}

.card {
    height: 145px;
    background: greenyellow;
}

.content {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 10px;
}

.block45 {
    display: flex;
    gap: 10px;
}

.block67 {
    display: flex;
    gap: 10px;
}

.block4 {
    width: 80%;
    height: 200px;
    background: greenyellow;
}

.block5 {
    width: 20%;
    height: 200px;
    background:greenyellow ;
}

.block6 {
    width: 80%;
    height: 400px;
    background: greenyellow;
}

.block7 {
    width: 20%;
    height: 400px;
    background:greenyellow ;
}

.box {
    display: none;
}

.footer {
    height: 200px;
    background: greenyellow;

}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
}



@media screen and (max-width: 1000px) {

    body {
        background: plum;
    }
    .group_nav {
        display: none;
    }
    .content {
        width: 100%;
    }

    .block67 {
        flex-direction: column;
    }

    .block7, .block6 {
        width: 100%;
        height: 200px;
    }
    .main {
        flex-direction: column;
    }
    .nav_new {
        height: 150px;
        background: greenyellow;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border-radius: 20px;
    }

    .box {
        display: flex;
        gap: 10px;
    }

    .card {
        width: 50%;
    }
}